<!DOCTYPE html>
<html>
<head>
</head>

</html>

<p id="notice"><%= notice %></p>
<br></br>
<h1>NOTICIAS</h1>

<table>
  <thead>
    <tr>
      <th>Titular</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @recent_feed.try(:each) do |feed| %>



      <tr>
        <td><%= feed.titular %></td>
        <p align="justify"> <td><%= feed.created_at %> </td></p>
        <td><%= link_to 'Ver', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>





    <% end %>

      </tbody>
    </table>


<br>

<%= link_to 'NUEVA NOTICIA', new_feed_path %>
