<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>

</html>

<p id="notice"><%= notice %></p>
<br></br>
<h1>NOTICIAS</h1>


    <% @recent_feed.try(:each) do |feed| %>
    <body>
    <table width="500", style= "background-color: #EFF5F6">
      <tr>
        <tr><th><font size = "4"><%= feed.titular %></font></th></tr>
        <tr><td><font size = "3"><%= feed.bajada %></font></td></tr>
        <p align="justify"> <tr><td><%= feed.created_at %> : <br><%= feed.short_description %></td></tr></p>
        <tr><td>Comentarios: <%= Comment.count_comments(feed) %></br></td></tr>
        <tr><td><%= link_to 'Ver más', feed %></td></tr>

        <br></br>
      </tr>
    </table>
    </body>


    <% end %>


<br>
